body{
    border: 0;
    padding: 0;
    margin: 0;
    background-color:#000;
    background-image:url(http://pagead2.googlesyndication.com/pagead/imgad?id=CICAgKDj_5GYDBABGAEyCJElcwK3Ylkf);
    background-repeat: repeat-x;
    background-position: 0px 101px;
    font-family:Arial;
    font-size:12px;
}
.topbanner a{
    font-size:14px;
    font-family:GFCondensed;
    font-weight:400;
    font-style:normal;
    text-decoration:none;
    

    
}
.skip{
    position:absolute;
    clip: rect(1px,1px,1px,1px);
}



/* =================================Top Banner system shortcuts ============================*/
.topbanner{
    
    height:90px;
    width:100%;
    background-color:#28398A;
    font-family:gfcondensed;
    
    
}   
#systemlinks{
    margin-left:250px;
    font-size:14xp;
}
.center{
    margin-left:300px;
}
.logo{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    float:left;
    margin-top:-5px;
    margin-left:5px;
    margin-right:5px;
    
}
.systemshortcuts{
    color:white;
    float:left;
    list-style:none;
    margin:5px;
    margin-left:10px;
    margin-right:5px;
    font-size: 14px;
    
}
.systemshortcuts:hover{
    color:white;
    display:inline;
    list-style:none;
    margin:3px;
    margin-left:5px;
    margin-right:5px;
    font-size: 14px;
    background-color:purple;
    
}

.moresystems1{
    list-style:none;
    float:left;
    margin:10px;
    position:absolute;
    
}
.moresystems{
    display:none;
    position:absolute;
    
  }
  .moresystems1:hover{
   
    position:absolute;
  }
 .search{
    width:270px;
    margin-top:0px;
    height:23px;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -khtml-border-radius: 28px;
    -webkit-border-radius: 28px;
    float:left;
   
 } 

 
/* =================================Top Banner site links ======================*/
.banner{
    background-color:#3951C6;
    height:50px;
    margin:0px;
    padding:0px;
    border-top:1px solid #576BCE;
    border-bottom:1px solid #576BCE;
}
.login{
    color:white;
    list-style:none;
    margin-left: 3px;
    float:right;
}
.sitelinks{
    color:white;
    list-style:none;
    display: inline;
    margin:10px;
    float:left;
    font-size:15px;
    margin-top:4px;
}
.sitelinks:hover{
    color:white;
    list-style:none;
    display: inline;
    margin:10px;
    float:left;
    background-color:purple;
    margin-top:4px;
}
h2{
    font-size:12px
}
/* ================================= Centrer content ==========================*/


.addspacetop{
    height:70px;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
.centerblock{
    padding:15px;
    width:900px;
    margin-left:auto;
    margin-right:auto;
    background-color:#F2F2F2;
    
}
.mainblock{
    
    width:100%;
    max-width:600px;
    float:left;
}
    /* ============ Intro Text ========*/ 
        .ititle{
            font-size:25px;
        }
        .itime{
            font-size:12px;
            text-align:right;
        }
        .ibody{
            margin:15px;
            margin-top:30px;
        }
.top10{
    width:100%;
    max-width: 285px;
    float:left;
    margin:5px;
}
.popularboard{
    margin-top:500px;
    width:98%;
        
}
.side{
    width:300px;
    background:#F2F2F2;
    overflow:hidden;
}
.systemtytpe{
    float:right;
}
.top10odd{
 padding:5px;
 background-color:#E8E8E8;
 overflow: hidden;
 border-bottom: 1px solid #4D4D4D;
}
.top10even{
 padding:5px;
 background-color:#F2F2F2;
 overflow: hidden;
 border-bottom: 1px solid #4D4D4D;
}

/* ================================= Side Content=================================*/
.poll{
    
    margin:15px;
}
.pollofday{
    margin-bottom:10px;
    padding:10px;
    font-size:20px;
    background-color:#3951C6;
    overflow:hidden;
}
form ul li{
    list-style:none;
}
.pollarea{
    padding:5px;
    padding-top:0px;
    background-color:#FFFFFF;
    overflow:hidden;
}
.addspaceside{
    margin:15px;
}
.gamespot{
    padding:15px;
    font-size:12px;
    margin:15px;
    width:270;
    border: 1px solid orange;
}
.giantbomb{
    padding:15px;
    font-size:12px;
    margin:15px;
    width:270;
    border: 1px solid red;
}
/* ================================= Common text ===============================================*/
.titles{
    font-size:18px;
    text-decoration: underline;
    border-bottom: 1px solid blue;
}
.headline{
    font-size:14px;
}
.linktext{
    color:white;
    font-size:14px;
}
.centerlinks{
    font-size:13px;
    
}
.clear{
    clear:both;
}
/* ================================= Buttons ===============================================*/
.button{
    display:none;
}
.buttonstyle{
    margin-left:33px;
    background-color:#5DADE2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.buttonstyle:hover{
    margin-left:33px;
    background-color:#7dbde8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/* ================================= Footer ===============================================*/

.footerblue{
    background-color:#3951C6;
    height:50px;
    width:100%;
    margin:0px;
    padding:0px;
}
.footerlinks{
    color:white;
    display:inline;
    list-style:none;
    margin:3px;
    font-size: 12px;
    
}
#footer ul{
    margin-left:300px;
}
#footer li ul{
    position:absolute;
    clip: rect(1px,1px,1px,1px);
    
}
#footer ul li{
    list-style:none;
    display:inline;
}
#footer  a{
     text-decoration:none;
    color:#FFF;
    
}

