body{
    border: 0;
    padding: 0;
    margin: 0;
    background-color:black;
    font-family:arial;
    font-size:12px;
}
#systemlinks li a{
    
}



/* =================================Top Banner system shortcuts ============================*/
.topbanner{
    
    height:100px;
    width:100%;
    background-color:#28398A;
}   
.systemshortcuts{
    color:white;
    display:inline;
    list-style:none;
    margin:3px;
    font-size: 12px;
    
}
.systemshortcuts:hover{
    color:white;
    display:inline;
    list-style:none;
    margin:3px;
    font-size: 12px;
    background-color:purple;
    
}

.moresystems1{
    list-style:none;
    float:left;
    margin:10px;
    position:absolute;
    
}
.moresystems{
    display:none;
    position:absolute;
  }
  .moresystems1:hover{
   
    position:absolute;
  }
/* =================================Top Banner site links ======================*/
.banner{
    background-color:#3951C6;
    height:50px;
    margin:0px;
    padding:0px;
}
.login{
    color:white;
    list-style:none;
    margin-left: 3px;
    float:right;
}
.sitelinks{
    color:white;
    list-style:none;
    display: inline;
    margin:10px;
    float:left;
}
.sitelinks:hover{
    color:white;
    list-style:none;
    display: inline;
    margin:10px;
    float:left;
    background-color:purple;
}
h2{
    font-size:12px
}
/* ================================= Centrer content ==========================*/
.centerblock{
    padding:15px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    background-color:#F2F2F2;
    
}
.mainblock{
    
    width:100%;
    max-width:600px;
    float:left;
}
    /* ============ Intro Text ========*/ 
        .ititle{
            font-size:25px;
        }
        .itime{
            font-size:12px;
            text-align:right;
        }
        .ibody{
            margin:15px;
            margin-top:30px;
        }
.top10{
    width:100%;
    max-width: 285px;
    float:left;
    margin:5px;
}
.popularboard{
    margin-top:500px;
    width:98%;
        
}
.side{
    width:300px;
    background:#F2F2F2;
    overflow:hidden;
}
.systemtytpe{
    float:right;
}
.top10odd{
padding:5px;
 background-color:#E8E8E8;
 overflow: hidden;
 border-bottom: 1px solid #4D4D4D;
}
.top10even{
 padding:5px;
 background-color:#F2F2F2;
 overflow: hidden;
 border-bottom: 1px solid #4D4D4D;
}

/* ================================= Side Content=================================*/
.poll{
    
    margin:15px;
}
.pollofday{
    padding:1px;
    font-size:20px;
    background-color:#3951C6;
    overflow:hidden;
}
.pollarea{
    padding:15px;
    background-color:#FFFFFF;
    overflow:hidden;
}
.addspaceside{
    margin:15px;
}
.gamespot{
    padding:15px;
    font-size:12px;
    margin:15px;
    width:270;
    border: 1px solid orange;
}
.giantbomb{
    padding:15px;
    font-size:12px;
    margin:15px;
    width:270;
    border: 1px solid red;
}
/* ================================= Common text ===============================================*/
.titles{
    font-size:18px;
    text-decoration: underline;
    border-bottom: 1px solid blue;
}
.headline{
    font-size:14px;
}
.linktext{
    color:white;
    font-size:14px;
}
.centerlinks{
    font-size:13px;
    
}
/* ================================= Buttons ===============================================*/
.button{
    display:none;
}
.buttonstyle{
    margin-left:33px;
    background-color:#5DADE2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.buttonstyle:hover{
    margin-left:33px;
    background-color:#7dbde8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/* ================================= Footer ===============================================*/

.footerblue{
    background-color:#3951C6;
    height:50px;
    margin:0px;
    padding:0px;
}
.footerlinks{
    color:white;
    display:inline;
    list-style:none;
    margin:3px;
    font-size: 12px;
    
}
.fotterblue{
    margin-left:300px;
}
#footer ul li{
    list-style:none;
    display:inline;
}
#footer  a{
     text-decoration:none;
    color:#FFF;
    
}

